
Deposito/posiciones/reporte_posiciones_20200921.csv
Deposito/posiciones/reporte_posiciones_20200917.csv
*.csv
*.xlsx
*.xls
*.pdf
*.log
*.7z
logs/*.txt
querys_mysql/*
logs
querys_mysql
Remito_automatico
salida_excel
